benchmark/sample/*
benchmark/node_modules/*
example-runner/example-repos
integration-test/test-cases
spec-compliance-tests/babel-tests/babel-tests-checkout
spec-compliance-tests/test262/test262-checkout
test/output/*
