.idea
node_modules
dist
dist-self-build
dist-types
example-runner/example-repos
spec-compliance-tests/test262/test262-checkout
spec-compliance-tests/babel-tests/babel-tests-checkout
integrations/gulp-plugin/dist
.nyc_output
coverage.lcov
benchmark/sample/jest
.perf-comparison
test/output
