/* Make fullscreen. */
html, body, #root {
  height: 100%;
}

body {
  background-color: #222;
}

.App {
  /* Hack to avoid a horizontal scroll bar. */
  height: calc(100% - 8px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-title {
  font-size: 2em;
  color: white;
  font-weight: bold;
  padding: 8px;
}

.App-subtitle {
  font-size: 1.2em;
  color: white;
}

.App-link {
  color: #CCCCCC;
}

.App-options {
  text-align: center;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-footer {
  font-size: large;
  color: white;
}

.OptionBox {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid white;
  border-radius: 6px;
  margin: 10px;
  padding: 4px;
  background-color: #333333;
}

.OptionBox-title {
  font-size: 1.2em;
  padding: 6px;
}

.OptionBox-label {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.OptionBox-checkbox {
  margin-right: 4px;
}

.Editors {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.Editor {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 100%;
  flex: 1;
  /*
   * When adding a third editor, we need the container size to shrink so that
   * the Monaco layout code will adjust to the container size.
   */
  overflow-x: hidden;
  margin: 8px;
}

.Editor-label {
  color: white;
  line-height: 30px;
  padding: 8px;
}

.Editor-container {
  height: 100%;
}
