{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "targets": {
          "node": "4.2"
        }
      }
    ],
    "@babel/flow"
  ],
  "plugins": [
    "transform-charcodes",
    [
      "@babel/transform-for-of",
      {
        "assumeArray": true
      }
    ]
  ]
}
